@import "styles/mixin";
@import "styles/variable";

.paragraph {
    margin-bottom: 2rem;
}

.headingOne {
    font-size: 3.2rem;
    font-weight: $font-weight;
    margin-bottom:$block-margin-bottom;
}

.headingTwo {
  font-size: 2.4rem;
  font-weight: $font-weight;
  margin-bottom:$block-margin-bottom
}

.headingThree {
    font-size: 1.87rem;
    font-weight: $font-weight;
    margin-bottom:$block-margin-bottom;
}

.list {
    list-style-type: disc;
    margin-bottom:$block-margin-bottom;
}


.image_box {
    @include flexCenter;
    flex-direction: column;
    color:#508CEB;
    width:100vw;
    max-width: 100%;
    margin: 5rem 0 !important;
    position: relative;
    span {
        width:100%;
        @include flexCenter; 

        img {
            max-width: 100%;
        }
    }

    figcaption {
        margin-top:1rem;
    }
}

.blockquote {
    background-color: #FDFDFD;
    border-left: 0.4rem solid $base-color;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: $block-margin-bottom;
    padding-left: 1rem;
    color: $base-color;
    font-size: 1.6rem;
    padding:1.5rem;
}

.code_block {
    box-sizing: border;
    width:100vw;
    max-width: 100%;
    margin: 0 0 $block-margin-bottom 0 !important;
}

.hr {
    margin: 2rem 0;
}

