@import "styles/variable";

.container {
    width:100%;
    display:grid;
    grid-template-columns: repeat(3,33.3%);
    grid-gap: 3rem;

    .skeleton_box {
        display: none;
    }

    @media (max-width:$tablet-max-width) {
        grid-template-columns: repeat(2,50%);
    }

    @media (max-width:$mobile-max-width) {
        grid-template-columns: 100%;
        .skeleton_box {
            display: block;
        }
    }
}
