@import "styles/variable";

.item {
    border:0.19rem solid $base-color2;
    padding:0.3rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color:$base-color;
    // cursor: pointer;
}