@import "styles/variable";

.btn {
    background-color: $base-color2;
    height: 4.5rem;
    width: 15%;
    color:$white-color;
    border: none;
    border-radius: .5rem;
    font-size: 1.7rem;
    cursor: pointer;
}