@import "styles/variable";
@import "styles/mixin";

.container {
    position: absolute;
    bottom:0;
    left:0;
    width:100vw;
    background-color:$sub-color-3;
    height: 10rem;
    color:$white-color;

   @include flexCenter;
}