@import "styles/variable";
@import "styles/mixin";

.container {
   font-size: 4rem;
   color:$white-color;
   font-weight: $font-weight;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-image: url("/images/background.webp");
   height: 40vh;

   @include flexCenter;

   .intro_box {
      display:flex;
      flex-direction: column;
      .text_top {
        border-right: none;
        width: auto;
        white-space: normal;
        animation: moveInDown 1s ease-out;
      }
    
      .text_bottom {
        animation: moveInTop 1s ease-out;
        strong {
          color:$base-color2;
        }
      }
   }


    @media (max-width:$mobile-max-width) {
    font-size: 2rem !important;
  }

  @media (max-width:$tablet-max-width) {
    background-image: url("/images/tablet_background.webp");
    font-size: 3rem;
  }
}



@keyframes moveInDown {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    80% {
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInTop {
  0% {
      opacity: 0;
      transform: translateY(10rem);
  }

  80% {
      transform: translateY(-1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}