@import "styles/variable";
@import "styles/mixin";

.container {
    display:flex;
    @include flexCenter;

    gap:1.5rem;
    margin:0 auto;
    margin-top:3rem;

    li {
        cursor: pointer;
        color:$base-color;
        width:4rem;
        height:4rem;
        background-color: $sub-color-1;
        border-radius: 0.5rem;
        @include flexCenter;

        a {
            width:100%;
            height: 100%;
            @include flexCenter;

        }

        
    }

    .active {
        cursor: pointer;
        color:$white-color;
        width:4rem;
        height:4rem;
        background-color: $base-color;
        border-radius: 0.5rem;
        @include flexCenter;
    }

    @media (max-width:$mobile-max-width) {
        display: none;
    }
}