$base-color: #3F6393;
$base-color2: #5696FD;
$sub-color-1 : #eee;
$sub-color-3:#262626;
$white-color:#fff;
$black-color:#000;
$profile-backround:#F8F8F8;
$blender-color:#6b7280;
$gray-color:#888A8E;
$tag-color:#888A8E;

$font-weight:700;

$category-padding: 0.3rem 0.8rem;
$block-margin-bottom:3rem;

$max-width:85rem;
$tablet-max-width:88rem;
$mobile-max-width:50rem;

$post_item_height:15rem;
