@import "styles/variable";

.span {
    display: inline-block;
    max-width:100%;
    word-break: break-word;
}

.bold {
    font-weight: 900;
    color: #3E38B3;
    // background-color: #E9E9E9;
    border-radius: 0.3rem;
    padding: 0 0.4rem;
}

.italic {
    font-style: italic;
}


.anchor {
    &:hover {
        color:$base-color;
        transition: all 0.2s ease;
    }
}