@import "styles/variable";

.bold {
    font-weight: 900;
    color: $base-color;
}

.italic {
    font-style: italic;
}


.anchor {
    &:hover {
        color:$base-color;
        transition: all 0.2s ease;
    }
}