@import "styles/variable";

.category {
    color:lightgray;
    cursor: pointer;
    display: flex;
    align-items: center;

    &.active {
        color:$base-color;
        font-weight: $font-weight;
    }

    .count {
        font-weight: $font-weight;
    }   
}