@import "styles/mixin";
@import "styles/variable";

.container {
    @include absoluteCenter;
    padding:3rem;
    box-shadow: 0.2rem 0.3rem 2.2rem -0.3rem rgba(0,0,0,0.65);
    border-radius: 2rem;
    width: 90%;
            
    @media (min-width:$mobile-max-width) {
        width: 50rem;
    }

    .signin_form {
        display:flex;
        flex-direction: column;
        gap:2rem;
        margin:3rem 0;
    }
}