@import "styles/variable";

.container {
    max-width:$max-width;
    margin:0 auto;
    height: 100%;
    padding:5rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    align-items: center;
}