
@import "styles/variable";
@import "styles/mixin";
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap:2rem;
    row-gap:1rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid $sub-color-3;
}