@import "styles/variable";
.container {
    max-width: $tablet-max-width;
    width:90%;
    height: 4rem;
    position: relative;
    left:50%;
    margin-top: 2rem;
    border: 1px solid black;
    transform: translateX(-50%);
    padding-left:5%;
    display: flex;
    gap: 2rem;
    .search_icon {
        display: inline-block;
        height: 4rem;
    }

    .spinner {
        height: 50% !important;
        width:4rem !important;
        position: relative;
        top:25%;
        right:5%;

        svg {
            width:100%;
            height: 100%;
        }
    }
}

.input {
    outline: none;
    width:100%;
    border: none;
}