@import "styles/variable";
.container {
    max-width: $tablet-max-width;
    width:90%;
    height: 4rem;
    position: relative;
    left:50%;
    margin-top: 2rem;
    border: 0.1rem solid $black-color;
    transform: translateX(-50%);
    padding-left:5%;
    display: flex;
    gap: 2rem;
    .search_icon {
        display: inline-block;
        height: 4rem;
    }
}

