@import "styles/variable";
@import "styles/mixin";
    .container {
        max-width: $max-width;
        margin:0 auto;
        @include flexCenter;
        gap:2rem;

        @media (max-width:$mobile-max-width) {
            @include flexColumnCenter;
        }

        .intro_box {
            height: 100%;
            text-align: center;
            @include flexColumnSb;
            gap: 1rem;
        }
    }


