@import "styles/variable";
@import "styles/mixin";
@import "styles/function";

.container {
   font-size: 4rem;
   color:$white-color;
   font-family: 'Ubuntu', sans-serif;
   font-weight: bold;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   
   @include flexCenter;

   .text_top {
    border-right: none;
    width: auto;
    white-space: normal;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
   }

   .text_bottom {
    display: block;
    animation: moveInRight 1s ease-out;
    
    strong {
      color:$base-color2;
    }
   }

   @media (max-width:$mobile-max-width) {
    font-size: 2rem;
  }
}



  @keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(10rem);
  }

  80% {
      transform: translateX(-1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}