@import "styles/variable";
@import "styles/mixin";

.container {
   font-size: 4rem;
   color:$white-color;
   @include flexCenter;

   .text {
    width: 80rem;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.3rem solid;
   }

   .slug_text {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
   }

   @media (max-width:820px) {
    font-size: 1.8rem;
    .text {
      border-right: none;
      width: auto;
      white-space: normal;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }
  }
}


@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  @keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}