.container {
    border-bottom: 0.2rem solid lightgray;
    padding:3% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:24rem;
    cursor: pointer;

    .title {
        font-size: 2.5rem;
        color: steelblue;
    }

    .desc {
        margin: 3% 0;
    }

    .img_box {
        width:100rem;
        height:17rem;
    }

    img {
        width:100%;
        height: 100%;
        object-fit: contain;
    }
}