@import "styles/variable";
@import "styles/mixin";

.container  {
    position: relative;
    padding:1rem;
    border :0.1rem solid $sub-color-1;
    transition: all 0.2s ease;
    cursor: pointer;

    .content_box {
        .title {
            margin-top:1rem;
            color:$base-color;
            font-weight: 600;
            font-size: 2.1rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .sub {
            color:$base-color;
            @include flexSb;
            margin:1.5rem 0;
            padding:1rem 0;
            font-size: 1.4rem;
            border-top:0.1rem solid $sub-color-1;
            border-bottom:0.1rem solid $sub-color-1;

            .author {
                display: flex;
                align-items: center;
                .profile_img {
                    display: inline-block;
                    width:3rem;
                    height: 3rem;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .name {
                    display: inline-block;
                    line-height: 3rem;
                    margin-left: 1rem;
                }
            }
        }

        .category {
            padding:$category-padding;
            color:#fff;
        }

        .desc {
            margin-bottom: 3rem;
            @include ellipsis(5,2rem)
        }

        .reg_date {
            font-size: 1.3rem;
            position: absolute;
            bottom: 1rem;
            right:1rem;
        }
    }

    &:hover {
        transform: translateY(-1.3rem);
        transition: all 0.2s ease-out;
        
        .content_box {
            .title {
                color:#000;
                text-decoration: underline;
                font-weight: 600;
                font-size: 2.3rem;
            }
        }
    }
}
