@import "styles/variable";
.container {
    width:100vw;
    height:6rem;
    color:#fff;
    background-color:$base-color;

    .inner_header {

        font-size: 3rem;
        line-height: 6rem;
        max-width: $desktop-max-width;
        margin:0 auto;
        padding:0 5%;

        .logo {
            user-select: none;
            cursor: pointer;
        }
    }
    
}