@import "styles/variable";
.container {
    width:100%;
    height:6rem;
    color:#fff;
    background-color:$base-color;

    .inner_header {
        line-height: 6rem;
        max-width: $desktop-max-width;
        margin:0 auto;
        padding:0 5%;

        .logo {
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            user-select: none;
            font-weight: bold;
            cursor: pointer;
        }
    }
    
}