$base-color: #3F6393;
$base-color2: #5696FD;
$sub-color-1 : #eee;
$sub-color-2:#6b7280;
$sub-color-3:#262626;

$white-color:#fff;
$black-color:#000;


$mobile-max-width:480px;
$tablet-max-width:1024px;
$desktop-max-width:1280px;

$block-margin-bottom:3rem;