@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding:0;
  margin:0;

}

ul,li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  font-size:62.5%;
  font-family: 'Noto Sans KR', sans-serif;
}
body {
  font-size: 1.6rem;
}

#__next {
  position: relative;
  min-height: 100vh;
}