* {
  box-sizing: border-box;
  padding:0;
  margin:0;

}

ul,li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  font-size:62.5% !important;
  font-family: 'Roboto', sans-serif;
}
body {
  font-size: 1.6rem !important;
}

#__next {
  display:grid;
  grid-template-rows:6rem 1fr 10rem;
  position: relative;
  width:100vw;
  min-height: 100vh;
}