@import "styles/variable";
@import "styles/mixin";

.container {
    max-width: $max-width;
    margin: 0 auto;
    padding:1.5rem;
    width:100%;


    form {
        width:75%;
        margin: 0 auto;
        @include flexSb;
    }
    .input {
        height: 4.5rem;
        border: 0.1rem solid $blender-color;
        border-radius: .5rem;
        padding:0 2rem;
        width:83%;
        &::placeholder {
            font-size: 1.6rem;
            color:$blender-color;
        }
    }

}