@import "styles/variable";
@import "styles/mixin";
.container {
    width:100vw;
    height:6rem;
    color:#fff;
    background-color:$base-color;

    .inner_header {
        @include flexSb;
        line-height: 6rem;
        max-width: $max-width;
        margin:0 auto;
        
        // @media (max-width:$tablet-max-width) {
        //     padding:0 5%;
        // }
    }
}
